.dropdown-menu{
    background-color: #000000 ;
    padding-left: 0px;
    
}


.dropdown-item{
    color: white;
    left: 0%;
    
}

.bg-dark {
    background-color: #000000 !important;
}

.modal-title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 50%;
    font-size: 25px;
    color:rgb(255, 255, 255);
}


.net{
    color: white;
    margin-left: 65%;
}

.form-control{
    background-color: rgba(36, 33, 32, 0);
}




.backk{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    
    font-weight: bolder;
}

.solid {
    display: flex;
    border-style: solid;
    border-color: rgb(109, 106, 106);
    width: 400px; 
    position: relative;
    left: 140px;
    bottom: 140px;
    background-color: rgb(0, 0, 0);
    /* margin-left: 40px; */
    border-radius: 10px;
    /* padding-bottom: 10px; */

    /* transform: translate(-50%, -50%); */
}


.our{
    background: url(img/download-icon.gif);
    background-size: 100% ;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 3px;
    width: 3em;
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
}

.our2{

    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 70%;
    position: relative;
    top: 50%;
    left: 73%;
    transform: translate(-50%,-50%);
}

















